<% include ../partials/header %>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 120px;padding-left: 0;">
    <a href = "/blogs"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px;">
    <div class = "ui huge header"><%= blog.title %></div>
    <div class = "ui top attached">
        <div class = "item">
            <img class = "ui centered rounded image" src = "<%= blog.image %>">
            <div class = "content">
                <span> <%= blog.created.toDateString() %> </span>
            </div>
            <div class = "description">
                <p> <%- blog.body %> </p>
            </div>
            <div style = "margin-top: 25px;">
                <!-- If the user is logged in and is a staff member, or if the user is logged in and is an admin-->
                <% if((currentUser && currentUser._id.equals(blog.author.id)) || (currentUser && currentUser.hasAccess('admin'))) {  %>
                    <!--<a class = "tagline" href = "/blogs/<%=blog._id%>/edit">-->
                    <!--    <button class = "ui orange basic button">Edit</button>-->
                    <!--</a>-->
                    <button class = "ui orange basic button" id="editBlog">Edit</button>
                    <form id = "delete" action = "/blogs/<%=blog._id%>?_method=DELETE" method = "POST">
                        <button class = "ui red basic button">Delete</button>
                    </form>
                <% } %>
            </div>
            
        </div>
    </div>
</div> 

<!--Modal to update the blog-->
<div class="ui small modal" style = "margin-bottom: 20px;"> <i class="close icon"></i>
    <div class="header">Editing: <%= blog.title %></div>
    <div class="content">
        <form class = "ui form" action = "/blogs/<%=blog._id%>?_method=PUT" method = "POST">
            <div class = "field">
                <label>Title</label>
                <input type ="text" name = "blog[title]" value = "<%=blog.title%>">
            </div>
                    
            <div class = "field">
                <label>Image</label>
                <input type ="text" name = "blog[image]" value = "<%=blog.image%>">
            </div>
                
            <div class = "field">
                <label>Blog Content</label>
                <textarea name = "blog[body]"><%=blog.body%></textarea>
            </div>
                    
            <div class = "field" >
                <input class="ui blue basic button" type = "Submit"Save>
            </div>
        </form>
    </div>
</div> <!--ui small modal-->
<% include ../partials/footer %>