<html>
    <head>
        <title>Mindframe Education</title>
        <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
        <link rel = "stylesheet" type = "text/css" href = https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/app.css">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    </head>
    <body>
        <div class = "ui right vertical menu sidebar">
            <% if(!currentUser) { %>
                <a href = "/login" class = "item"><i class = "sign in icon"></i>Log in</a>
                <a href = "/register" class = "item"><i class = "add user icon"></i>Sign up</a>
            <% } else { %>
                <% if (currentUser.hasAccess('user')) { %>
                    <!--<a class = "item" href = "/blogs/new">New Blog</a>-->
                    <div class = "item">
                        <div class = "header">Student</div>
                        <div class = "menu">
                            <a class = "item" href = "/students">Students' entries</a>
                            <a class = "item" href = "/courses/assign-course">Assign course</a>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "header">New</div>
                        <div class = "menu">
                            <a class = "item" href = "/new-entry">Entry</a>
                            <a class = "item" href = "/students/new">Student</a>
                        </div>
                    </div>
                    
                    <div class = "item">
                        <div class = "header">Manage</div>
                        <div class = "menu">
                            <% if (currentUser.hasAccess('admin')) { %>
                                <a class = "item" href = "/parents">Registered parents</a>
                                <a class = "item" href = "/parents/email-list">Email list</a>
                            <% } %>
                            <a class = "item" href = "/courses">Courses</a>
                            <a class = "item" href = /classes>Class list</a>
                            
                        </div>
                    </div>
                    <div class = "item">
                        <div class = "header" style = "font-size: 90%;">
                            <i class = "user icon" style = "margin-right: 3px;"></i>
                            <%=currentUser.username %>
                        </div>
                        <div class = "menu">
                            <div class = "menu">
                                <a class = "item" href = "/change-password">Change password</a>
                                <a href = "/logout" class = "item"><i class = "sign out icon" style = "margin-right: 3px;"></i>Log out</a>
                            </div>
                        </div>
                    </div>
                <% } else { %> <!--user -->
                    <div class = "item">
                        <div class = "header">
                            <i class = "user icon" style = "margin-right: 3px;"></i>
                            <%=currentUser.username %>
                        </div>
                        <a class = "item" href = "/students">Students' entries</a>
                        <a class = "item" href = "/change-password">Change password</a>
                        <a href = "/logout" class = "item"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a>
                    </div>
                    
                <% } %>
            <% } %>
        </div>
        <div class = "pusher">
        
        <!-- Header using Semantic UI-->
        <div class = "ui menu grid">
            <div class = "computer only row">
                <div class = "ui top fixed menu">
                    <div class = "ui container" style = "width: 90%;">
                        <!--<a class = "item open button">-->
                        <!--    <i class="sidebar icon"></i>-->
                        <!--</a>-->
                        <div class = "header item">
                            <a href = "/">Mindframe Education</a>
                        </div>
                        <% if (currentUser) { %>
                            <!--<a href = "/blogs" class = "item">Blogs</a>-->
                            <% if (currentUser.hasAccess('user')) { %>
                                <div class = "item ui simple dropdown">Student
                                    <i class = "dropdown icon" style = "margin-left: 5px;"></i>
                                    <div class = "menu">
                                        <a href = "/students" class = "item">Students' entries</a>
                                        <a href = "/courses/assign-course" class = "item">Assign course</a>
                                    </div>
                                </div>
                            <% } else if (currentUser.hasAccess('public')) { %>
                                <a href = "/students" class = "item">Students' entries</a>
                                <!--<a class = "item" href = "/courses/assign-course">Assign course</a>-->
                            <% } %>
                            <% if (currentUser.hasAccess('user')) { %>
                                <div class = "item ui simple dropdown">Manage
                                    <i class = "dropdown icon" style = "margin-left: 5px;"></i>
                                    <div class = "menu">
                                        <% if (currentUser.hasAccess('admin')) { %>
                                            <a href = "/parents" class = "item">Registered parents</a>
                                            <a href = "/parents/email-list" class = "item">Email list</a>
                                        <% } %>
                                        <a href = "/courses" class = "item">Courses</a>
                                        <a href = "/classes" class = "item">Class list</a>
                                    </div>
                                </div>
                            <% } %>
                            <% if (currentUser.hasAccess('user')) { %>
                                <div class = "item ui simple dropdown">New
                                    <i class = "dropdown icon" style = "margin-left: 5px;"></i>
                                    <div class = "menu">
                                        <a class = "item" id = "newEntry" href = "/new-entry">Entry</a>
                                        <a class = "item" href = "/students/new">Student</a>
                                        <!--<a class = "item" href = "/blogs/new">Blog</a>-->
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                        <!--End of left menu section. Right menu section starts-->
                        <div class = "right menu">
                            <% if (!currentUser) { %>
                                <a href = "/login" class = "item"><i class = "sign in icon"></i> 
                                Log in</a>
                                <!--Sign up route removed for now-->
                                <a href = "/register" class = "item"><i class = "add user icon" style = "margin-right: 3px;"></i>
                                Sign up</a>
                            <% } else { %>
                                    <div class = "item ui simple dropdown"><i class = "user icon" style = "margin-right: 3px;"></i><%=currentUser.username %>
                                        <i class = "dropdown icon" style = "margin-left: 5px;"></i>
                                        <div class = "menu">
                                            <a class = "item" href = "/change-password">Change password</a>
                                            <a class = "item" href = "/logout"><i class = "sign out icon" style = "margin-right: 3px;"></i>Log out</a>
                                        </div>
                                    </div>
                            <% } %>
                        </div> <!--right menu-->
                    </div> <!--ui container-->
                </div> <!--ui top fixed menu-->
                
                <% if (error && error.length > 0) { %>
                    <div class="ui negative message small overlay" role="alert" >
                        <strong><%=error %></strong>
                    </div>
                <% } %>
                
                <% if (success && success.length > 0){  %>
                    <div class="ui success message small overlay center aligned" role="alert" >
                        <strong><%=success %></strong>
                    </div>
                <% } %>
            </div> <!--computer only row-->
            
            
            
            <div class = "tablet mobile only row">
                <div class = "ui top fixed menu">
                    <div class = "ui container" style = "width: 100%;">
                        <div class = "item header">
                            <a href = "/">Mindframe Education</a>
                        </div>
                        <div class = "right menu ">
                            <a class = "item open button">
                                <i class="sidebar icon"></i>
                            </a>
                        </div> <!--right menu-->
                    </div> <!--ui container-->
                </div> <!--ui top fixed menu-->
            </div> <!--mobile tablet only row-->
        </div> <!--ui menu grid-->
        <!--END OF NAV BAR SECTION. BEGINNING OF NEW ENTRY MODAL -->

        <!--BEGINNING OF FLASH MESSAGES-->
        
        <!--ENDING OF FLASH MESSAGES -->