<% include ../partials/header %>
<div class = "ui main container segment" style = "width: 40%;">
    <h1 class = "ui header">Courses index</h1>
    <% if (courses) { %>
        <div class = "ui styled fluid accordion" style = "margin-bottom: 10px;">
            <% var index = 0; %>
            <% courses.sort().forEach(function(course) { %>
                <% if (course.template) { %>
                    <div class = "title">
                        <i class="dropdown icon"></i>
                        <%=course.name%>
                    </div>
                    <div class = "content">
                        <% if (course.units.length > 0) { %>
                            <% course.units.forEach(function(unit, unit_index) { %>
                                <div style = "margin-left: 15px;">
                                    <%=unit.name%>
                                    <div style = "float:right; display:inline; font-size: 0.8em;">
                                        <a style = "color: orange;" data-tooltip="Edit" data-position="top center" href = "/courses/<%=course.id%>/units/<%=unit_index%>"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                                        <form action = "/courses/<%=course.id%>/units/<%=unit_index%>?_method=DELETE" method = "POST" style = "margin-bottom: 0px; display: inline;">
                                            <button data-tooltip="Delete" data-position="top center" class="delete-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="ui fitted divider"></div>
                            <% }); %>
                        <% } else { %>
                            <p>This course does not have any unit</p>
                        <% } %>
                        <div style = "margin-top: 10px;">
                            <button class = "ui blue basic button" id = "add-unit-button-<%=index%>"><i style = "margin-right: 0;" class = "plus icon"></i> Unit</button>
                            <button class = "ui basic orange button" id = "course-name-button-<%=index%>">Edit course name</button>
                        </div>
                    </div>
                    <!--Create a modal for each course starts-->
                    <!--Modal for adding a new unit-->
                    <div class="ui small modal unit" id = "add-unit-modal-<%=index%>"><i class="close icon" ></i>
                        <div class="content">
                            <form class = "ui form" action = "/courses/<%=course.id%>/units" method = "POST">
                                <div class = "field">
                                    <input type = "text" name = "unit_name" placeholder = "Unit name">
                                </div>
                                <div class = "field">
                                    <input class="ui blue basic button" type = "Submit" value = "Save">
                                </div>
                            </form>
                        </div>
                    </div> <!--ui small modal unit-->
                    
                    <!--Modal for changing the course name starts-->
                    <div class = "ui small modal course name" id = "change-course-name-<%=index%>"><i class = "close icon"></i>
                        <div class = "content">
                            <form class = "ui form" action = "/courses/<%=course.id%>/update-course-name/<%=course.name%>" method = "POST">
                                <div class = "field">
                                    <input type = "text" name = "course_name" value = "<%=course.name%>">
                                </div>
                                <div class = "field">
                                    <input class = "ui blue basic button" type = "Submit" value = "Save">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Modal for changing the class name ends-->
                    
                    <!--Create a modal for each course ends -->
                    <% index++; %>
                <% } %> <!--if (course.template) -->
            <% }); %> <!--for each function -->
        </div>
    <% } else { %> <!--if (courses) -->
        No course available
    <% } %>
    
    <button class = "ui blue basic button" id = "addCourse"><i style = "margin-right: 0;" class = "plus icon"></i> Course</button>
</div>

<!--Modal for adding a new course-->
<div class="ui small modal course"> <i class="close icon" ></i>
    <div class="content">
        <form class = "ui form" action = "/courses" method = "POST">
            <div class = "field">
                <input type = "text" name = "course_name" placeholder = "Course name">
            </div>
            <div class = "field">
                <input class="ui blue basic button" type = "Submit"Save>
            </div>
        </form>
    </div>
</div> <!--ui small modal-->

<% include ../partials/footer %>