<% include ../partials/header %>
<div class = "ui container center aligned" style = "margin-top: 100px;">
    <% if (currentUser && currentUser.hasAccess('user')) { %>
        <h1 class = "student-title">All entries</h1>
    <% } else { %>
        <% if (currentUser.students && currentUser.students.length > 1) { %>
            <h1 class = "student-title">Entries for your children</h1>
        <% } else { %>
            <h1 class = "student-title">Entries for your child</h1>
        <% } %>
    <% } %>
    
</div>

<% if (currentUser && currentUser.hasAccess('user')) { %> 
    <div class = "ui container center aligned" style = "width: 30%; margin-top: 10px;">
        <div class="ui fluid search selection dropdown">
            <input type="hidden" name="country">
            <i class="dropdown icon"></i>
            <div class="default text">Select student</div>
            <div class="menu">
                <% students.forEach(function(student) { %>
                    <a class="item" href="/students/<%=student._id%>">
                        <%= student.fullName %>
                    </a>
                <% }); %>
                
            </div>
        </div>
    </div>
<% } %>

<!-- Semantic UI table-->
<div class = "ui container fluid center aligned" style = "width: 50%; padding-top: 10px; margin: 10px auto 150px;">
    <table class="ui striped very compact celled blue table sortable" >
        <thead>
            <tr class = "text-center" style = "font-size: 105%;">
                <th style = "width: 15%;">Name</th>
                <th style = "width: 15%;">Class</th>
                <th style = "width: 10%;">Date</th>
                <th>Latest entry</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(function(student) { %>
                <% if (currentUser && currentUser.hasAccess('user')) { %> 
                    <% if (student.entries.length > 0) { %>
                        <% var latest_entry = student.entries[student.entries.length - 1] %>
                        <tr>
                            <td class = "selectable" style = "color: #0E6EB8;">
                                <a  href="/students/<%=student._id%>">
                                    <%=student.fullName %> 
                                </a>
                            </td>
                            <td>
                                <% if (latest_entry.class_name) { %>
                                    <%=latest_entry.class_name%>
                                <% } else { %>
                                    Not specified
                                <% } %>
                            </td>
                            <td><%=latest_entry.created.getMonth() + 1%>/<%=latest_entry.created.getDate()%>/<%=latest_entry.created.getFullYear()%></td>
                            <td>
                                <% if (latest_entry.summary.length > 100) { %>
                                    <%= latest_entry.summary.substring(0,100)%>...
                                <% } else { %>
                                    <%=latest_entry.summary %>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <% if (currentUser) { %>
                        <% if (currentUser.students && currentUser.students.indexOf(student.id) > -1) { %>
                            <% if (student.entries.length > 0) { %>
                                <% var latest_entry = student.entries[student.entries.length - 1] %>
                                <tr>
                                    <td class = "selectable" style = "color: #0E6EB8;">
                                        <a  href="/students/<%=student._id%>">
                                            <%=student.name.first%> <%=student.name.last %> 
                                        </a>
                                    </td>
                                    <td>
                                        <% if (latest_entry.class_name) { %>
                                            <%=latest_entry.class_name%>
                                        <% } else { %>
                                            Not specified
                                        <% } %>
                                    </td>
                                    <td><%=latest_entry.created.getMonth() + 1%>/<%=latest_entry.created.getDate()%>/<%=latest_entry.created.getFullYear()%></td>
                                    <td>
                                        <% if (latest_entry.summary.length > 100) { %>
                                            <%= latest_entry.summary.substring(0,100) %>...
                                        <% } else { %>
                                            <%=latest_entry.summary %>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } else { %>
                                <tr>
                                    <td class = "selectable" style = "color: #0E6EB8;">
                                        <a  href="/students/<%=student._id%>">
                                            <%=student.name.first%> <%=student.name.last %> 
                                        </a>
                                    </td>
                                    <td>No recent class</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            <% } %>  <!--else-->
                        <% } %>  <!--indexOf(student.id)-->
                    <% } %> <!--if (currentUser) -->
                    
                <% } %>
            <% }); %> <!--forEach function -->
        </tbody>
    </table>
</div>
<% include ../partials/footer %>