<% include ../partials/header %>
<div class = "ui container center aligned" style = "margin-top: 50px;">
    <% if (currentUser && currentUser.hasAccess('user')) { %>
        <h1 class = "page-title">All Entries</h1>
    <% } else { %>
        <h1 class = "page-title">Student Progress</h1>
    <% } %>
</div>

<% if (currentUser && currentUser.hasAccess('user')) { %> 
    <div class = "ui container center aligned" style = "width: 30%; margin-top: 10px;">
        <div class="ui fluid search selection dropdown">
            <input type="hidden" name="student">
            <i class="dropdown icon"></i>
            <div class="default text">Select student</div>
            <div class="menu">
                <% students.forEach(function(student) { %>
                    <a class="item current student" href="/students/<%=student._id%>">
                        <%= student.fullName %>
                    </a>
                <% }); %>
                
            </div>
        </div>
    </div>
<% } %>
<% if (currentUser && currentUser.hasAccess('user')) { %>
    <!-- Semantic UI table-->
    <div class = "ui container fluid center aligned" style = "width: 70%; padding-top: 0; margin: 10px auto 10.0em;">
        <% var student_index = 0; %>
        <% var entry_per_page = 10; %>
        <div  class = "ui primary tiny buttons" style = "float: right; margin-bottom: 10px;">
            <button title = "Previous" class = "ui compact icon button disabled" id = "prev-page" style = "margin-right: 5px;">
                <i class = "left chevron icon"></i>
            </button>
            <% if (students.length < entry_per_page) { %>
                <button title = "Next" class = "ui compact icon button disabled" id = "next-page">
                    <i class = "chevron right icon"></i>
                </button>
            <% } else { %>
                <button title = "Next" class = "ui compact icon button" id = "next-page">
                    <i class = "right chevron icon"></i>
                </button>
            <% } %>
        </div>
        <table class="ui striped very compact celled blue table sortable" >
            <thead>
                <tr class = "text-center" style = "font-size: 105%;">
                    <th style = "width: 15%;">Student</th>
                    <th style = "width: 12%;">Course</th>
                    <th style = "width: 12%;">Date</th>
                    <th>Student Progress Entry</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach(function(student) { %>
                    <% if (student.entries.length > 0) { %>
                        <% var latest_entry = student.entries[student.entries.length - 1] %>
                        <% if (student_index < entry_per_page) { %>
                        <tr id = "student-row-<%=student_index%>" class = "student-row-class">
                        <% } else { %>
                        <tr id = "student-row-<%=student_index%>" class = "student-row-class" style = "display: none;">   
                        <% } %>
                            <td class = "selectable" style = "color: #0E6EB8;">
                                <a  href="/students/<%=student._id%>">
                                    <%=student.fullName %> 
                                </a>
                            </td>
                            <td>
                                <% if (latest_entry.class_name) { %>
                                    <%=latest_entry.class_name%>
                                <% } else { %>
                                    Not specified
                                <% } %>
                            </td>
                            <td>
                                <%=latest_entry.created.getMonth() + 1%>/
                                <% if (latest_entry.created.getDate() < 10) { %>
                                    0<%=latest_entry.created.getDate()%>
                                <% } else { %>
                                    <%=latest_entry.created.getDate()%>
                                <% } _%>
                                /<%=latest_entry.created.getFullYear()%></td>
                            <td>
                                <% if (latest_entry.summary.length > 100) { %>
                                    <%= latest_entry.summary.substring(0,100)%>...
                                <% } else { %>
                                    <%=latest_entry.summary %>
                                <% } %>
                            </td>
                        </tr>
                        <% student_index++; %>
                    <% } %>
                <% }); %> <!--forEach function -->
            </tbody>
        </table>
    </div>
<% } else { %>
    <!--Start of a new section -->
    <% if (currentUser) { %>
        <div class = "ui main text container" style = "margin-bottom: 10.0em; margin-top: 1.0em">
            <div class = "ui raised segment divided items">
                <% if (currentUser.students.length === 0) { %>
                    You do not have any students assigned to you. Please contact the admin!
                <% } %>
                <% students.forEach(function(student) { %>
                    <% if (currentUser.students && currentUser.students.indexOf(student._id) > -1) { %>
                        <div class = "item">
                            <div class = "content">
                                <p>
                                    <strong>Student:</strong> <a href = "/students/<%=student._id%>"><%=student.fullName%></a> | 
                                    <strong>Grade:</strong> <%=student.grade%>
                                </p>
                                <p>
                                    <strong>Learning Goals:</strong>
                                    <% if (student.learning_goal) { %>
                                        <%=student.learning_goal%>
                                    <% } else { %>
                                        No learning goal specified
                                    <% } %>
                                </p>
                                
                                <!--accordion for course progress starts-->
                                <div class = "ui styled fluid accordion" style = "margin-bottom: 10px;">
                                    <div class = "title active">
                                        <i class = "dropdown icon"></i>
                                        <% if (student.courses.length > 1) { %>
                                            Student Courses
                                        <% } else { %>
                                            Student Course
                                        <% } %>
                                    </div>
                                    <% if (student.courses.length === 0) { %>
                                        <div class = "content active">This student is not taking any course</div>
                                    <% } else { %>
                                        <div class = "content active">
                                            <% student.courses.forEach(function(course, course_index) { %>
                                                <div class = "accordion">
                                                    <div class = "title active">
                                                        <i class="dropdown icon" style = "margin-right: 0px;"></i>
                                                        <%=course.name%>
                                                        <div class = "ui blue progress" data-percent="<%=course.progress%>" id = "example1" style = "width: 90%; margin-left: 5px; margin-bottom: 0; padding-bottom: 0;">
                                                            <div class = "bar">
                                                                <div class = "progress"></div>
                                                            </div>
                                                        </div> <!--ui blue progress-->
                                                    </div> <!--title -->
                                                    <div class = "content" style = "margin-left: 5px">
                                                        <% course.units.forEach(function(unit){ %>
                                                            <p><%=unit.name%>
                                                                <% if (unit.completed) { %>
                                                                    <i class = "checkmark icon" style = "color: green;" title="Completed!"></i>
                                                                <% } %>
                                                            </p>
                                                            
                                                        <% }); %>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                    <% } %>
                                </div> <!--ui styled fluid accordion -->
                                <!--accordion for course progress ends-->
                                <h5 class="ui header" style = "margin-top: 5px;">Latest Progress Entry</h5>
                                <div class="ui divider"></div>
                                <div class = "item">
                                    <div class = "content">
                                        <div class = "header">
                                            <strong><%=student.entries[0].class_name%></strong>
                                        </div>
                                        <div class = "meta">
                                            <%=student.entries[0].created.toDateString()%>
                                        </div>
                                        <div class = "description">
                                            <%=student.entries[0].summary%>
                                        </div>
                                    </div>
                                </div>
                                <% var current_entry = student.entries[0]; %>
                                <% if (current_entry.comments && current_entry.comments.length > 0) { %>
                                    <div class = "ui accordion">
                                        <div class="title">
                                            <i class="dropdown icon"></i>
                                            Comments (<%=current_entry.comments.length%>)
                                        </div>
                                        <div class = "content" style = "margin-left: 10px;">
                                            <div class = "ui comments">
                                                <% current_entry.comments.forEach(function(comment, comment_index) { %>
                                                    <div class = "comment">
                                                        <div class = "content">
                                                            <a class = "author"><%=comment.author.username%></a>
                                                            <div class = "metadata">
                                                                <span class = "date"><%=comment.created.toDateString()%></span>
                                                            </div>
                                                            <div class = "text comment-text-field" id = "comment-<%=comment_index%>">
                                                                <%=comment.text%>
                                                            </div>
                                                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                                                <!--Inline form for editing comment -->
                                                                <form class = "ui form" id = "comment-<%=comment_index%>-edit-form" action = "/entries/<%=current_entry._id%>/comments/<%=comment._id%>?_method=PUT" method = "POST" style = "display: none; margin-top: 3px;">  
                                                                    <div class = "field">
                                                                        <textarea rows = "2" name = "comment[text]"><%=comment.text%></textarea>
                                                                    </div>
                                                                    <div class = "field">
                                                                        <button class = "ui basic primary button" type = "submit">Save</button>
                                                                    </div>
                                                                </form>
                                                                <!--Edit and delete buttons -->
                                                                <div class = "actions">
                                                                    <a class="reply" style = "display: inline;" id = "edit-comment-button-<%=comment_index%>">Edit</a>
                                                                    <form class = "ui form reply" style = "display: inline;" action = "/entries/<%=current_entry._id%>/comments/<%=comment._id%>?_method=DELETE" method = "POST">
                                                                        <div class = "field" style = "display: inline;">
                                                                            <button class = "reply delete-comment-button">Delete</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                <% }); %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                                
                                <div style = "margin-top: 20px;">
                                    <a href = "/students/<%=student._id%>">See all entries</a>
                                </div>
                                
                                
                                
                                <!--accordion for student entry starts-->
                                
                                <!--accordion for student entry ends-->
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            </div>
        </div>
    <% } %>
<% } %>
<% include ../partials/footer %>