<% include ../partials/header %>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 50px; padding-left: 0;">
    <a href = "/students/<%=foundStudent.id%>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back</a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px; margin-bottom: 150px;">
    <div class = "ui medium header"><span class = "page-title">New entry for:</span> <%=foundStudent.fullName %></div>
    <form class = "ui form" action = "/students/<%=foundStudent.id%>/entries" method = "POST">
        
        <div class="field" style = "width: 40%">
            <label>Class</label>
            <div class="ui search selection dropdown">
                <input type="hidden" name="entry[class_name]">
                <i class="dropdown icon"></i>
                <div class="default text">Class</div>
                    <div class="menu">
                        <% courses.sort().forEach(function(course) { %>
                            <div class = "item" data-value = "<%=course.name%>"><%=course.name%></div>
                        <% }); %>
                    </div>
            </div>
        </div>
        
        <div class = "field">
            <label>Summary</label>
            <textarea name = "entry[summary]" placeholder = "Summary"></textarea>
        </div>
        <div class = "field">
            <input class="ui blue basic button" type = "Submit"Save>
            <input id = "delete" class="ui orange basic button" type = "Reset"Save>
        </div>
    </form>
</div> 

<% include ../partials/footer %>