<% include ../partials/header %>
<div class = "ui main text container" style = "margin-bottom: 0px; margin-top: 120px; padding-left: 0;">
    <a href = "/students/<%=foundStudent.id%>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
<div class = "ui main text container segment" style = "margin-top: 10px;">
    <div class = "ui medium header">New entry for: <%=foundStudent.name.first %> <%=foundStudent.name.last %></div>
    <form class = "ui form" action = "/students/<%=foundStudent.id%>/entries" method = "POST">
        
        <div class="field" style = "width: 40%">
            <label>Class</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="entry[class_name]">
                <i class="dropdown icon"></i>
                <div class="default text">Class</div>
                    <div class="menu">
                        <% classList.allClasses.forEach(function(eachClass) { %>
                            <div class = "item" data-value = "<%=eachClass%>"><%=eachClass%></div>
                        <% }); %>
                    </div>
            </div>
            
        </div>
        <!--<div style = "display: inline-block; margin-left: 10px;">-->
        <!--    <button class = "ui button">Add a new class</button>-->
        <!--</div>-->
        
        
        <div class = "field">
            <label>Summary</label>
            <textarea name = "entry[summary]" placeholder = "Summary"></textarea>
        </div>
        <div class = "field">
            <input class="ui blue basic button" type = "Submit"Save>
            <input id = "delete" class="ui orange basic button" type = "Reset"Save>
        </div>
    </form>
</div> 

<% include ../partials/footer %>