<% include ../partials/header %>
<div class = "ui main text container" style = "padding-bottom: 10px; margin-top: 50px;">
    <!--<a href = "/students">Go back</a>-->
    <a href = "/students/<%=foundStudent.id%>"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <div class = "ui raised segment" style = "padding-left: 35px;">
        <p class = "student_name">
            <strong>Student's name:</strong> <%=foundStudent.name.first %> <%= foundStudent.name.last %> | <strong>Grade:</strong> <%= foundStudent.grade %>
        </p>
        <!-- If the user is logged in and is a staff or an admin-->
    </div>
</div> <!--ui main text container-->

<div class = "ui main text container" style = "margin-bottom: 150px; margin-top: 0px;">
    <div class = "ui top raised segment">
        <div class = "ui divided items">
            <% if (foundStudent.notes.length > 0) { %>
                <% foundStudent.notes.forEach(function(note, note_index) { %>
                    <div class = "item">
                        <div class = "content" style = "margin-left: 20px;">
                            <div style = "float: right; font-size: 0.9em;">
                                <% if ((currentUser && currentUser.hasAccess("user") && currentUser._id.equals(note.author.id)) || (currentUser && currentUser.hasAccess("admin"))) { %>
                                    <a style = "color: orange" href = "#" id = "edit-note-button-<%=note_index%>"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                                    <button class = "delete-button" id = "remove-note-button-<%=note_index%>"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                <% } %>
                            </div>
                            
                            <div class = "meta" style = "display: inline;">
                                Create by: <%= note.author.username %> | Created on: <%= note.created.toDateString() %>
                            </div>
                                        
                            <div class = "description">
                                <%= note.body %>
                            </div>
                            <!--Modal for deleting note starts-->
                            <div class = "ui small modal remove note" id = "remove-note-modal-<%=note_index%>"><i class = "close icon"></i>
                                <div class = "header">
                                    Delete note
                                </div>
                                <div class = "content">
                                    Are you sure you want to remove this note from <%=foundStudent.fullName%>'s profile?
                                </div>
                                <div class = "action">
                                    <form id = "delete" action = "/students/<%=foundStudent.id%>/notes/<%=note.id%>?_method=DELETE" method = "POST">
                                        <button class = "ui basic positive button" style = "margin: 0px 5px 10px 15px;">Yes</button>
                                    </form>
                                    <button class = "ui basic negative button close-modal" style = "margin-top: 0px;vertical-align: top;display: inline">No</button>
                                </div>
                            </div>
                            <!--Modal for deleting note ends-->
                            
                            <!--Modal for editing note starts-->
                            <div class = "ui small modal edit note" id = "edit-note-modal-<%=note_index%>"><i class = "close icon"></i>
                                <div class = "header">
                                    Edit note
                                </div>
                                <div class = "content">
                                    <form class = "ui form" action = "/students/<%=foundStudent._id%>/notes/<%=note.id%>?_method=PUT" method = "POST">
                                        <div class = "field">
                                            <textarea rows="3" name = "note[body]"><%=note.body%></textarea>
                                        </div>
                                        <div class = "field" >
                                            <input class="ui blue basic button" type = "Submit" value = "Save">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--Modal for editing note ends -->
                        </div>
                    </div> <!--Ending of item div-->
                <% }); %>
                
            <% } else { %>
                <div class = "item">
                    This student does not have any note yet
                </div>
            <% } %>
        </div> <!--ui divided items-->
    </div> <!--ui top raised segment-->
</div> <!--Ending of ui main text container div-->

<% include ../partials/footer %>