<% include ../partials/header %>
<table class="container ui sortable blue table" style = "width: 20%; margin-top: 50px;">
    <thead>
        <th class = "one wide">Class</th>
    </thead>
    <tbody>
        <% classList.allClasses.sort().forEach(function(eachClass, index) { %>
            <tr class = "one wide">
                <td name = "<%=eachClass%>">
                    <%=eachClass%>
                    <span style = "float: right;">
                        <button data-tooltip = "Delete" data-position = "left center" class = "delete-button delete-class-button-<%=index%>"><i class = "trash outline icon link"></i></button>
                    </span>
                    
                    <div class="ui small modal delete class" id = "delete-class-<%=index%>"><i class="close icon" ></i>
                        <div class = "header">
                            Are you sure you want to delete '<%=eachClass%>' ?
                        </div>
                        <div class = "action" >
                            <form action = "/classes/<%=eachClass%>?_method=DELETE" method = "POST" style = "margin-bottom: 0px; display: inline;">
                                <button class = "ui positive button" style = "margin: 10px 5px 10px 15px;">Yes</button>
                            </form>
                            <button class = "ui negative button close-modal" style = "margin-top: 10px;">
                                No
                            </button>
                        </div>
                    </div> <!--ui small modal-->
                </td>
            </tr>
        <% }); %>
            
    </tbody>
</table>
<div class = "ui container" style = "width: 20%;">
    <button id = "addClass" class = "ui primary basic button"><i class = "plus icon" style = "margin-right: 0;"></i>Class</button>
</div>

<div class="ui small modal class"> <i class="close icon" ></i>
    <div class="content">
        <form class = "ui form" action = "/classes" method = "POST">
            <div class = "field">
                <input type = "text" name = "class" placeholder = "Class">
            </div>
            <div class = "field">
                <input class="ui blue basic button" type = "Submit"Save>
            </div>
        </form>
    </div>
</div> <!--ui small modal-->
<% include ../partials/footer %>