<% include ../partials/header %>
<div class = "ui container center aligned" style = "margin-top: 50px; margin-bottom: 150px; width: 30%;">
    <h1 class = "page-title">User management</h1>
    <table class = "ui striped very compact celled blue sortable table unstackable">
        <thead>
            <tr style = "font-size: 105%; text-align: center">
                <th>Email/Username</th>
                <th style = "width: 30%;">
                    Role
                </th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user, user_index) { %> 
                <tr>
                    <td><%=user.username%></td>
                    <td><%=user.role%>
                        <% if (!user.hasAccess('admin')) { %>
                            <div style = "float: right;" class = "ui floating dropdown">
                                <i class="dropdown icon"></i>
                                <div class = "left menu">
                                    <div class = "item" id = "edit-user-button-<%=user_index%>"><i class="fa fa-pencil" aria-hidden="true"></i> Edit role</div>
                                    <div class = "item user number <%=user_index%>"><i class="fa fa-trash" aria-hidden="true"></i> Remove user</div>
                                </div>
                            </div>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <!--For some reasons putting the modals inside the table causes problems-->
    <% users.forEach(function(user, user_index) { %>
        <div class = "ui small modal edit user" id = "edit-user-modal-<%=user_index%>"><i class = "close icon"></i>
            <div class = "header">
                Editing role for <%=user.username%>
            </div>
            <div class = "content">
                <form class = "ui form" action = "/staff/<%=user._id%>?_method=PUT" method = "POST">
                    <div class = "field">
                        <label>Role</label>
                        <div class = "ui selection dropdown">
                            <input type = "hidden" name = "user[role]">
                            <i class = "dropdown icon"></i>
                            <div class = "text"><%=user.role%></div>
                            <div class = "menu">
                                <div class = "item" data-value = "user">user (limited read and write. Use this for instructors)</div>
                                <div class = "item" data-value = "public">public (read only. Use this for parent)</div>
                            </div>
                        </div>
                    </div>
                    <div class = "field">
                        <input class = "ui blue basic button" type = "Submit" value = "Save">
                    </div>
                </form>
            </div>
        </div>
        
        <div class = "ui small modal delete user" id = "delete-user-modal-<%=user_index%>"><i class = "close icon"></i>
            <div class = "header">Remove user</div>
            <div class = "content">Are you sure you want to remove <strong><%=user.username%></strong>? (this cannot be undone)</div>
            <div class = "action">
                <form style = "display: inline" action = '/staff/<%=user._id%>?_method=DELETE' method = 'POST'>
                    <button style = "margin: 10px 5px 10px 15px;" class = "ui basic positive button">Yes</button>
                </form>
                <button class = "ui basic negative button close-modal" style = "margin-top: 10px;">
                    No
                </button>
            </div>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>